[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autoflake = "*"
black = "==19.10b0"
flake8 = "*"
isort = "*"
mypy = "*"
pylint = "*"

[packages]
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
pendulum = "*"
requests = "*"

[requires]
python_version = "3.8"
